@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Black.ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@layer components {
  .btn-sm {
    @apply bg-blue-500 font-bold text-white rounded-md py-1 px-3 text-center hover:bg-blue-400 cursor-pointer transition duration-300 text-sm shadow-md hover:shadow-lg;
  }
  .btn-md {
    @apply bg-blue-500 font-bold text-white rounded-md py-2 px-4 text-center hover:bg-blue-400 cursor-pointer transition duration-300 text-base shadow-md hover:shadow-lg;
  }
  .btn-lg {
    @apply bg-blue-500 font-bold text-white rounded-md py-3 px-8 text-center hover:bg-blue-400 cursor-pointer transition duration-300 text-lg shadow-md hover:shadow-lg;
  }
  .nav-btn {
    @apply font-bold text-gray-900 rounded-full py-1 md:py-2 px-3 md:px-4 text-center hover:bg-gray-900 hover:text-white cursor-pointer transition duration-100 ml-1 capitalize;
  }
  .featured-nav-btn {
    @apply bg-red-400 text-white;
  }
  .selected {
    @apply underline;
  }
  .input-field {
    @apply p-2 rounded border-2 border-red-300 bg-yellow-50 outline-none text-gray-800 font-medium text-sm;
  }
  .input-field:active,
  .input-field:focus {
    @apply border-blue-500;
  }
  .error-message {
    @apply text-red-500 mt-1 mx-2 rounded text-xs font-medium;
  }
}
.swiper-pagination-bullet-active {
  background: #f87171 !important;
}

:root {
  --swiper-theme-color: #f87171 !important;
}
@tailwind utilities;
