@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Black.ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@layer components {
  .btn-sm {
    @apply bg-blue-500 font-bold text-white rounded-md py-1 px-3 text-center hover:bg-blue-400 cursor-pointer transition duration-300 text-sm shadow-md hover:shadow-lg;
  }
  .btn-md {
    @apply bg-blue-500 font-bold text-white rounded-md py-2 px-4 text-center hover:bg-blue-400 cursor-pointer transition duration-300 text-base shadow-md hover:shadow-lg;
  }
  .btn-lg {
    @apply bg-blue-500 font-bold text-white rounded-md py-3 px-8 text-center hover:bg-blue-400 cursor-pointer transition duration-300 text-lg shadow-md hover:shadow-lg;
  }
  .nav-btn {
    @apply bg-white font-bold text-gray-900 rounded py-1 px-3 text-center hover:bg-gray-900 hover:text-white cursor-pointer transition duration-300 ml-1 capitalize;
  }
  .selected {
    @apply underline;
  }
}
.swiper-pagination-bullet-active {
  background: #f87171 !important;
}
@tailwind utilities;
